.review__container {
    padding-top: 32px;
    border-top: 2px;
    border-style: solid;
    border-color: var(--color-gray-300);
    padding-bottom: 32px;
}

.review__highlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.review__smalldescription {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review__longdescription {
    font-size: 1rem;
    color: grey;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    align-items: center;
}

.review__highlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.review__score {
    margin: 0;
    font-size: 5em;
}

.image--horizontal {
    transform: scaleX(-1)
}

.review__cards__container {
    display:grid;
    padding-top: 32px;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
}

.review__summary__card {
    border-right: 1px;
    border-style: solid;
    border-color: rgb(159, 159, 159);
    margin-right:32px;
}

.review__summary__card__text {
    padding-bottom: 8px;
    font-size: .75em;
    font-weight: bold;
}

.review__summary__card__subtext {
    font-size: .66em;
}

.review__progresss__bar__container {
    display: flex;
    padding-right: 16px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.review__progress__bar {
    display: flex;
    border-radius: 10%;
    height: 4px;
    width: 128px;
    background-color: rgb(167, 167, 167);
}

.review__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .75em;
    font-weight: bold;
}