.dynamicmap__header {
    font-size: 1.5rem;
    padding-top: 16px;
    padding-bottom: 16px;
}

.dynamicmap__container {
    border-top: 2px;
    border-style: solid;
    border-color: var(--color-gray-300);
}